<!DOCTYPE html>
<html lang="en">

<!-- include partials file -->
<%- include('./partials/head.ejs') %>

<body>

    <!-- include partials file -->
    <%- include('./partials/nav.ejs') %>

    <div class="manager content">
        <h2>Manager Home page</h2>

        <!-- Server-side rendering -->
        <% if (manager.length > 0) { %>
            <% manager.forEach(mng => { %>
                <h3 class="name"><%= mng.username %></h3>
                <p class="password"><%= mng.password %></p>
                <p class="role"><%= mng.role %></p>
                
            <% })%>
        <% } else { %>
            <p>No account to display</p>
        <% } %>

        <a href="/manager/points">
            Points
        </a>

        
    </div>

    <!-- include partials file -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>