<!DOCTYPE html>
<html lang="en">

<!-- include partials file -->
<%- include('./partials/head.ejs') %>

<body>

    <!-- include partials file -->
    <%- include('./partials/nav.ejs') %>

    <div class="point content">
        <h2>Points page</h2>

        <!-- Server-side rendering -->
        <% if (points.length > 0) { %>
            <% points.forEach(p => { %>
                <a class="single" href="/manager/points/<%= p._id %>">
                    <h3 class="name"><%= p.name %></h3>
                </a>
                <br>
                <a id="delete-point" class="delete" data-doc="<%= p._id %>">Delete</a>
                <br>
                
            <% })%>
        <% } else { %>
            <p>No point to display</p>
        <% } %>
    </div>

    <div class="create-point content">
        <br>
        <h2>Create new point</h2>
        <form id="create-point" action="/manager/points" method="post">
            <label for="name">Name</label><br>
            <input type="text" id="pointName" name="pointName" required><br>
            <label for="address">Address</label><br>
            <input type="text" id="pointAddress" name="pointAddress" required><br>
            <label for="pointType">Type</label><br>
            <select name="pointType" id="pointType">
                <option value="gather">Gather</option>
                <option value="trans">Trans</option>
            </select><br>
            <button type="submit">Create</button>
        </form>
    </div>

    <!-- include partials file -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>